* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#parent {
  display: flex;
  justify-content: center;
}

#box-holder {
  border-color: black;
  border-style: groove;
  min-height: 400px;
  width: 400px;
  margin-top: 150px;
}

#header {
  border-color: black;
  border-style: groove;
  min-height: 50px;
  width: 400px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  margin-bottom: 100px;
}

#container_Div {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
}

.child {
  display: grid;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 90px;
  padding-top: 70px;
  background-color: rgba(0, 41, 138, 0.787);
  border: 2px solid rgb(197, 89, 0);
  font: 1.3em sans-serif;
  font-weight: bold;
  height: 100%;
}

.child_2 {
  background-color: rgba(223, 12, 12, 0.787);
  border: 2px solid rgb(197, 89, 0);
  font: 1.3em sans-serif;
  font-weight: bold;
  height: 100%;
}
.child_3 {
  background-color: rgba(118, 2, 87, 0.787);
  border: 2px solid rgb(197, 89, 0);
  font: 1.3em sans-serif;
  font-weight: bold;
}

.child_4 {
  background-color: rgba(118, 2, 87, 0.787);
  border: 2px solid rgb(197, 89, 0);
  font: 1.3em sans-serif;
  font-weight: bold;
}
#middel_div {
  justify-content: stretch;
}

#gameName {
  top: 0px;
  width: 380px;
  height: 40px;
  padding-top: 0;
  margin-top: 1px;
}

#play_screen {
  justify-self: stretch;
  margin-top: 70px;
  height: 400px;
}

#middel_footer {
  width: 380px;
  bottom: 0;
  height: 80px;
}

#playe_name {
  padding-top: 0;
  width: 40px;
  justify-self: stretch;
  height: 40px;
  border: black;
  border-style: groove;
}
